<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SpongeCity.MonitorPlatform.DBAccess.Interface.IDataOperation">
    <resultMap id="dataMap" type="DB_DataModel">
        <id property="id" column="id"/>
        <result property="datetime" column="datatime"/>
        <result property="datavalue" column="datavalue"/>
        <association property="device" javaType="DB_DeviceModel">
            <id property="id" column="pk_deviceid"/>
            <result property="deviceid" column="device_id"/>
            <result property="devicetype_id" column="devicetype_id"/>
            <result property="model" column="model"/>
            <result property="comments" column="devicecomments"/>
            <result property="longitude" column="longitude"/>
            <result property="latitude" column="latitude"/>
            <result property="area_id" column="area_id"/>
            <result property="firstuptime" column="firstuptime"/>
            <result property="updatetime" column="updatetime"/>
            <result property="state" column="devicestate"/>
            <result property="datastatus" column="devicedatestatus"/>
        </association>
        <association property="datatype" javaType="DB_DataTypeModel">
            <id property="id" column="datatypeid"/>
            <result property="datatype" column="datatype"/>
            <result property="unit" column="unit"/>
        </association>
    </resultMap>
    <select id="getDataByDataTypeandArea" resultMap="dataMap">
        <![CDATA[ select da.id,da.datatime,da.datavalue,t.id as datatypeid,t.datatype,t.unit,db.id as pk_deviceid,
db.device_id,db.devicetype_id,db.model,db.comments as devicecomments,db.longitude,db.latitude,db.area_id,
db.firstuptime,db.updatetime,db.state as devicestate,db.datastatus as devicedatestatus
from data da join datatypes t on da.datatype_id = t.id join devices db on da.device_id = db.id
where da.datatype_id = ${dataTypeid} and db.area_id in (${areaIds})
order by datatime desc ]]>
    </select>
    <select id="getDataByDataTypeAreaAndTime" resultMap="dataMap">
        <![CDATA[ select da.id,da.datatime,da.datavalue,t.id as datatypeid,t.datatype,t.unit,db.id as pk_deviceid,
db.device_id,db.devicetype_id,db.model,db.comments as devicecomments,db.longitude,db.latitude,db.area_id,
db.firstuptime,db.updatetime,db.state as devicestate,db.datastatus as devicedatestatus
from data da join datatypes t on da.datatype_id = t.id join devices db on da.device_id = db.id
where da.datatype_id = ${dataTypeid} and db.area_id in (${areaIds}) and da.datatime > ${startTime} and da.datatime < ${endTime}
order by datatime desc ]]>
    </select>
    <select id="getDataByArea" parameterType="string" resultMap="dataMap">
        <![CDATA[ select da.id,da.datatime,da.datavalue,t.id as datatypeid,t.datatype,t.unit,db.id as pk_deviceid,
db.device_id,db.devicetype_id,db.model,db.comments as devicecomments,db.longitude,db.latitude,db.area_id,
db.firstuptime,db.updatetime,db.state as devicestate,db.datastatus as devicedatestatus
from data da right join datatypes t on da.datatype_id = t.id right join devices db on da.device_id = db.id
where db.area_id in (${_parameter}) ]]>
    </select>
    <select id="getDataByDataTypeAndDeviceId" resultMap="dataMap">
        <![CDATA[ SELECT id,datatime,device_id,datatype_id,datavalue FROM data
  where device_id = ${deviceId} and datatype_id = ${dataTypeId} and datatime > ${startTime} and datatime < ${endTime}
order by datatime ASC ]]>
    </select>
    <select id="getDataByDeviceId" resultMap="dataMap">
        <![CDATA[ SELECT top 100 da.id,da.datatime,da.device_id,da.datatype_id,da.datavalue, t.id as datatypeid, t.datatype, t.unit FROM data da join datatypes t on da.datatype_id=t.id
  where device_id = ${deviceId}
order by datatime desc ]]>
    </select>
    <select id="getDataByDeviceIdandDtId" resultMap="dataMap">
        <![CDATA[ SELECT top 1 da.id,da.datatime,da.device_id,da.datatype_id,da.datavalue, t.id as datatypeid, t.datatype, t.unit FROM data da join datatypes t on da.datatype_id=t.id
  where device_id = ${deviceId} and da.datatype_id = ${dataTypeId}
order by datatime desc ]]>
    </select>
    <select id="getDataByDeviceIdAndTime" resultMap="dataMap">
        <![CDATA[ select da.id,da.datatime,da.datavalue,t.id as datatypeid,t.datatype,t.unit,db.id as pk_deviceid,
db.device_id,db.devicetype_id,db.model,db.comments as devicecomments,db.longitude,db.latitude,db.area_id,
db.firstuptime,db.updatetime,db.state as devicestate,db.datastatus as devicedatestatus
from data da join datatypes t on da.datatype_id = t.id join devices db on da.device_id = db.id
where da.device_id = ${deviceId} and da.datatime > ${startTime} and da.datatime < ${endTime}
order by datatime ]]>
    </select>
    <select id="getLastestDeviceData" parameterType="int" resultMap="dataMap">
        <![CDATA[ select da.id,da.datatime,da.datavalue,t.id as datatypeid,t.datatype,t.unit,db.id as pk_deviceid,
db.device_id,db.devicetype_id,db.model,db.comments as devicecomments,db.longitude,db.latitude,db.area_id,
db.firstuptime,db.updatetime,db.state as devicestate,db.datastatus as devicedatestatus
from data da right join datatypes t on da.datatype_id = t.id join devices db on da.device_id = db.id
 where da.id = (select top 1 id from data where datatype_id = da.datatype_id and device_id = #{deviceId} order by datatime desc)   ]]>
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer">
      select COUNT(1) from  data
    </select>

    <select id="getCountByDataType" parameterType="int" resultType="java.lang.Integer">
      select COUNT(1) from  data where datatype_id = #{dataTypeId}
    </select>
</mapper>