<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SpongeCity.MonitorPlatform.DBAccess.Interface.IDeviceOperation">
    <resultMap id="deviceMap" type="DB_DeviceModel">
        <id property="id" column="id"/>
        <result property="deviceid" column="device_id"/>
        <result property="model" column="model"/>
        <result property="comments" column="comments"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="firstuptime" column="firstuptime"/>
        <result property="updatetime" column="updatetime"/>
        <result property="state" column="state"/>
        <result property="datastatus" column="datastatus"/>
        <result property="picture" column="picture"/>
        <association property="devicetype" javaType="DB_DeviceTypeModel">
            <id property="id" column="typeid"/>
            <result property="name" column="typename"/>
            <result property="comments" column="typecomments"/>
        </association>
        <association property="area" javaType="DB_AreaModel">
            <id property="id" column="areaid"/>
            <result property="name" column="areaname"/>
            <result property="size" column="size"/>
            <result property="position" column="position"/>
            <result property="parentarea_id" column="parentarea_id"/>
        </association>
    </resultMap>
    <select id="getAllDevice" resultMap="deviceMap">
        SELECT devices.id,devices.device_id,devices.model,devices.comments,devices.longitude,devices.latitude,devices.firstuptime,devices.updatetime,
        devices.state,devices.datastatus,devices.picture,devicetypes.id as typeid,devicetypes.name as typename,devicetypes.comments as typecomments,
        areas.id as areaid,areas.name as areaname,areas.size,areas.position,areas.parentarea_id FROM devices
         join devicetypes on devices.devicetype_id = devicetypes.id join areas on devices.area_id = areas.id
    </select>
    <select id="getDeviceById" parameterType="int" resultMap="deviceMap">
        SELECT devices.id,devices.device_id,devices.model,devices.comments,devices.longitude,devices.latitude,devices.firstuptime,devices.updatetime,
        devices.state,devices.datastatus,devices.picture,devicetypes.id as typeid,devicetypes.name as typename,devicetypes.comments as typecomments,
        areas.id as areaid,areas.name as areaname,areas.size,areas.position,areas.parentarea_id FROM devices
         join devicetypes on devices.devicetype_id = devicetypes.id join areas on devices.area_id = areas.id WHERE devices.id = #{deviceId}
    </select>
    <select id="getDeviceListByAreaId" parameterType="string" resultMap="deviceMap">
        SELECT devices.id,devices.device_id,devices.model,devices.comments,devices.longitude,devices.latitude,devices.firstuptime,devices.updatetime,
        devices.state,devices.datastatus,devices.picture,devicetypes.id as typeid,devicetypes.name as typename,devicetypes.comments as typecomments,
        areas.id as areaid,areas.name as areaname,areas.size,areas.position,areas.parentarea_id FROM devices
        join devicetypes on devices.devicetype_id = devicetypes.id join areas on devices.area_id = areas.id WHERE devices.area_id in (${_parameter})
    </select>
    <select id="getDeviceListByDeviceType" parameterType="int" resultMap="deviceMap">
        SELECT devices.id,devices.device_id,devices.model,devices.comments,devices.longitude,devices.latitude,devices.firstuptime,devices.updatetime,
        devices.state,devices.datastatus,devices.picture,devicetypes.id as typeid,devicetypes.name as typename,devicetypes.comments as typecomments,
        areas.id as areaid,areas.name as areaname,areas.size,areas.position,areas.parentarea_id FROM devices
        join devicetypes on devices.devicetype_id = devicetypes.id join areas on devices.area_id = areas.id WHERE devicetype_id in (${_parameter})
    </select>

    <select id="getDeviceListByDeviceTypeAndAreaId" resultMap="deviceMap">
        SELECT devices.id,devices.device_id,devices.model,devices.comments,devices.longitude,devices.latitude,devices.firstuptime,devices.updatetime,
        devices.state,devices.datastatus,devices.picture,devicetypes.id as typeid,devicetypes.name as typename,devicetypes.comments as typecomments,
        areas.id as areaid,areas.name as areaname,areas.size,areas.position,areas.parentarea_id FROM devices
        join devicetypes on devices.devicetype_id = devicetypes.id join areas on devices.area_id = areas.id WHERE area_id = #{areaId} and devicetype_id = #{devicetypeId}
    </select>
</mapper>