<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="SpongeCity.MonitorPlatform.DBAccess.Model.DB_AreaModel" alias="DB_AreaModel"/>
        <typeAlias type="SpongeCity.MonitorPlatform.DBAccess.Model.DB_DeviceTypeModel" alias="DB_DeviceTypeModel"/>
        <typeAlias type="SpongeCity.MonitorPlatform.DBAccess.Model.DB_DeviceModel" alias="DB_DeviceModel"/>
        <typeAlias type="SpongeCity.MonitorPlatform.DBAccess.Model.DB_DeviceLogModel" alias="DB_DeviceLogModel"/>
        <typeAlias type="SpongeCity.MonitorPlatform.DBAccess.Model.DB_AlertModel" alias="DB_AlertModel"/>
        <typeAlias type="SpongeCity.MonitorPlatform.DBAccess.Model.DB_DataModel" alias="DB_DataModel"/>
        <typeAlias type="SpongeCity.MonitorPlatform.DBAccess.Model.DB_DataTypeModel" alias="DB_DataTypeModel"/>
    </typeAliases>
    <!-- Continue going here -->
    <environments default="MonitorPlatform">
        <environment id="MonitorPlatform">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
                <property name="url" value="jdbc:sqlserver://tgg8usc77x.database.chinacloudapi.cn:1433;databaseName=xixian" />
                <property name="username" value="opentechiot"/>
                <property name="password" value="Xixian_city2015"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="AreaMapper.xml"/>
        <mapper resource="DeviceTypeMapper.xml"/>
        <mapper resource="DeviceMapper.xml"/>
        <mapper resource="DeviceLogMapper.xml"/>
        <mapper resource="AlertMapper.xml"/>
        <mapper resource="DataMapper.xml"/>
    </mappers>
</configuration>