@charset "utf-8";
/* CSS Document */

.con{ width:1200px; margin:0 auto; background:#ccc;}
.conleft{ width:20%; background:#fff; float:left; height:100px}
.conright{ width:80%; background:#fff; float:left; height:100px}

.l_con1{ height:100px; background:#29282e; }
.l_con1 h1{ line-height:100px; color:#fff; text-align:center; font-size:20px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:bold}
.l_con2{ height:707px; background:#32323a; }
.r_con1{ height:100px; }
.r_con1 img{ margin-top:25px; margin-left:80px}
.r_con2{ background:url(../img/r_con2bg.jpg) no-repeat center center; height:107px}
.r_con3{ background:#eee; height:600px; position: relative}

.table_wrap{width:90%; margin:20px auto; text-align:center; background:#fff; border-radius:5px}
#tree1 a{ color: #fff}
#tree1 .leftbtn{display: inline-block; width: 60%}
.pagination > li > a, .pagination > li > span { color: #454648;}
.pagination > .active > a { background-color: #1fb5ac;border-color: #1fb5ac;}
.pagination > .active > a:hover{ background-color: #1fb5ac;border-color: #1fb5ac;}

.r_nav{ float:right; margin-right:50px;}
.r_nav li{ width:100px; height:107px; float:left; line-height:150px; background:#95dfde; text-align:center; color:#fff; font-weight:bold; font-size:16px; opacity:0.8; cursor:pointer}
.r_nav li{ background-color:#95dfde}
.r_nav li.active{ background-color:#deed9c}
.r_nav .nav_btn1{ background-image:url(../img/btn1.png); background-position:center 30px; background-repeat:no-repeat}
.r_nav .nav_btn2{ background-image:url(../img/btn2.png); background-position:center 30px; background-repeat:no-repeat}
.r_nav .nav_btn3{ background-image:url(../img/btn3.png); background-position:center 30px; background-repeat:no-repeat}
.r_nav .nav_btn4{ background-image:url(../img/btn4.png); background-position:center 30px; background-repeat:no-repeat}

#allmap {width: 80%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
#checkwin {width: 20%; height:100%; overflow:hidden; margin:0; position:absolute; right:0; top:0; background:#fff; border:1px solid #f0f0f0}
#checkwin .devicetype{ line-height:200%; width:85%; margin:10px auto 0; background:#1fbba6;font-family:"微软雅黑"; font-size:14px; color:#fff}
#checkwin input{ margin-right:10px; margin-left:10px;}
#checkwin .devicetitle{line-height:250%; font-size:14px; text-align:center; font-family:"微软雅黑"; color:#7a7977; border-bottom:1px solid #eee; background:#f9f9f9}

.table_wrap{ font-size:12px }