@charset "utf-8";
/* CSS Document */
a:focus {
    outline: 0;
}
.con{ width:100%; margin:0 auto; background:#ccc;}
.conleft{ max-width:260px; width: 18%; background:#fff; float:left; height:1000px;position: fixed; overflow: hidden }
.conright{ width:82%; background:#fff; float:left; height:100px; margin-left: 260px;}

.l_con1{ height:50px; background:#29282e; }
.l_con1 h1{ line-height:50px; color:#fff; text-align:center; font-size:20px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:bold}
.l_con2{ height:100%; background:#32323a; }
.r_con1{ height:50px; background: #29282e; }
.r_con1 img{}
.r_con2{ background:#f3f3f3; height:100px; position: relative; padding: 0 20px;overflow: hidden;}
.r_con3{ background:#f3f3f3; height:100%; position: relative}
.l_con_img{ background: url("../img/port1.jpg") no-repeat center center; background-size: 260px auto; width: 100%; height: 180px; position: relative}
#datestr{ line-height: 300%; position: absolute; bottom: 0; text-align: center; width:100%; color: #fff;}
.table_wrap{width:90%; margin:0 auto; text-align:center; background:#fff; border-radius:5px}
#tree1 a{ color: #fff}
#tree1 .leftbtn{ width: 60%; text-decoration: none;}/*display: inline-block*/
#tree1 .leftbtns{display: inline-block; width: 80%; text-decoration: none;}
.pagination > li > a, .pagination > li > span { color: #454648;}
.pagination > .active > a { background-color: #1fb5ac;border-color: #1fb5ac;}
.pagination > .active > a:hover{ background-color: #1fb5ac;border-color: #1fb5ac;}

.r_nav{height: 50px;background: #fff; border-radius: 3px;  margin: 25px auto 0; width: 100%; overflow: hidden}
.r_nav li{
    color: #7c7c7c;
    display: inline-block;
    font-family: "黑体";
    line-height: 48px;
    margin: 0 10px;
    padding: 0 20px;
    cursor: pointer;
}
.r_nav li.active {
    border-bottom: 2px solid #1fbea4;
    color: #1fbea4;
}
#allmap {width: 80%; height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
#checkwin { width: 300px; height:100%; overflow:hidden; position:absolute; right:0; top:0; background:#fff; border:1px solid #f0f0f0}
#checkwin .devicetype{ line-height:200%; width: 100%; margin-top: 10px; margin-bottom: 10px; margin-left: 0px; font-family:"微软雅黑"; font-size:14px; color:#333}
#checkwin .devicetype:hover{background:#1fbba6;color:#fff}
#checkwin .devicetype img{ float: right; margin-right: 30px;margin-top: 3px;}
#checkwin input{ margin-right:10px; margin-left:10px;}
#checkwin .devicetitle{line-height:250%; font-size:14px; text-align:center; font-family:"微软雅黑"; color:#7a7977; border-bottom:1px solid #eee; background:#f9f9f9}

#dialogDiv{ splay: none;}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 55px 4px #555;
    -moz-box-shadow: 0 0 55px 4px #555;
    box-shadow: 0 0 55px 4px #555;
    z-index: 1000;
    min-height: 150px;
    margin-bottom: 100px
}

.modal legend {
    display: none
}

.modal-header {
    position: relative;
    color: #fff;
    overflow: hidden;
    font-size: 20px;
    padding: 5px 20px;
    background: #2a2d2e
}

.modal-header .close {
    position: absolute;
    color: #eee;
    top: 11px;
    right: 14px;
    width: 18px;
    height: 18px
}

.modal-header .close:hover {
    color: #777
}

.modal-header .id {
    color: #fff;
    font-size: 16px;
    vertical-align: top
}

.modal-open .modal-overlay {
    opacity: .8;
    visibility: visible
}

.modal-content {
    overflow: hidden
}

.modal-content form {
    margin: 20px 0 0
}

.modal-content .title {
    float: left;
    margin: 10px 0 0
}

.modal-content .alert {
    margin: 12px 10px
}

.modal-content .table-inner {
    padding: 0 20px
}

.modal-content .page {
    float: right;
    margin: 10px 0
}
#checkwin .devicetitle{line-height:250%; font-size:14px; text-align:center; font-family:"微软雅黑"; color:#7a7977; border-bottom:1px solid #eee; background:#f9f9f9}

.table_wrap{ font-size:12px;}

.r_con3 .window-overlay{width: 700px; height: 540px; margin-left: 140px; margin-top: -80px; border-radius:10px;  background: #fff; position: absolute; top: 0; left: 0;}
.maptable{ height: 230px; width:auto; display: block; float: left; margin-left: 20px}
.imgdiv{height: 200px; width: 200px; border-radius:100px; border: 1px solid #ccc; display: block; float: left; position: relative; margin-left: 0px; overflow: hidden}
.imgdiv img{ display: block; width: 200px; height: 200px;}
.maptable tr{ line-height: 220%; color: #3c3c3c; font-size: 13px}
.maptable tr td:first-child{ padding-right: 20px}
.dialogbg{width: 100%; height: 600px; position: absolute; top: 0; left: 0; opacity: 0.4;}

#windows-overlay .d_up { width:90%; height:250px; margin: 0 auto; overflow:hidden; margin-top: 20px; margin-bottom: 10px; font-size: 12px}
#windows-overlay .d_up .d_img{ float: left; width:200px; width: 220px; overflow: hidden; border-radius: 5px; height: 246px}
#windows-overlay .d_middle{ text-align: center; font-weight: bold; font-size: 16px; line-height: 250%}
#windows-overlay .d_up .d_list{ float: left; width:350px; font-size: 13px; line-height: 220%; margin-left: 20px; margin-top: 10px}
#windows-overlay .d_down { width:90%; height:180px; margin: 0 auto;  overflow:hidden; font-size: 12px}
.d_list table tr td:first-child{ width: 70px; font-weight: bold; font-size: 14px}
.devicelist td{ vertical-align:middle!important}
.devicelist tr td:nth-child(2){ width: 10%}
.devicelist tr td:nth-child(3){ }